@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1.5rem 15%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.logo {
  display: block;
  max-width: 100%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #333;
}

.page-one {
  display: flex;
  justify-content: space-between;
}

/* Hero Section */

.hero {
  background: #e8e8e8;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 15%;
}

.hero-content {
  flex: 1;
  max-width: 600px;
  padding-left: 5%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subtitle {
  color: #888;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 450;
  text-align: center;
  margin-bottom: 1rem;
  transform: scale(1, 1.2);
  margin-bottom: 3rem;
  letter-spacing: 0.3em;
}

.hero-title {
  color: #4e7da5;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  transform: scale(1, 1.4);
  margin-bottom: 3rem;
}

.hero-description {
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.8;
  text-align: center;
}

.hero-image {
  flex: 0 0 auto;
  text-align: end;
  padding-right: 0 5%;
  align-self: flex-end;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.btn {
  flex: 1;
  text-align: center;
}

.hero-button button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 2px solid #5b8db8;
  color: #5b8db8;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.btn button:hover {
  background: #5b8db8;
  color: white;
}
