@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1.5rem 15%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.logo {
  display: block;
  max-width: 100%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #333;
}

.page-one {
  display: flex;
  justify-content: space-between;
}

/* Hero Section */

.hero {
  background: #e8e8e8;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 15%;
}

.hero-content {
  flex: 1;
  max-width: 600px;
  padding-left: 5%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subtitle {
  color: #888;
  font-size: 1.2rem;
  font-weight: 450;
  text-align: center;
  margin-bottom: 1rem;
  transform: scale(1, 1.2);
  margin-bottom: 3rem;
  letter-spacing: 0.3em;
}

.hero-title {
  color: #4e7da5;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  transform: scale(1, 1.4);
  margin-bottom: 3rem;
}

.hero-description {
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.8;
  text-align: center;
}

.hero-image {
  flex: 0 0 auto;
  text-align: end;
  padding-right: 0 5%;
  align-self: flex-end;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.btn {
  flex: 1;
  text-align: center;
}

.hero-button button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 2px solid #5b8db8;
  color: #5b8db8;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.btn button:hover {
  background: #5b8db8;
  color: white;
  cursor: pointer;
}

/* Building Company Section */

.building-company {
  background-image: url("./images/CompanySectionImages/building-company-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  text-align: center;
  padding: 4rem 15%;
  color: white;
}

.section-title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.section-subtitle {
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  opacity: 0.95;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto 3rem;
}

.service-card {
  background: white;
  padding: 3rem 2rem;
  text-align: center;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 1.5rem;
  overflow: hidden;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-title {
  color: #333;
  font-size: 1.2rem;
  font-style: italic;
}

.btn-outline button {
  border: 2px solid white;
  color: white;
  background: transparent;
  display: inline-block;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.btn-outline button:hover {
  background: white;
  color: #5b8db8;
  cursor: pointer;
}

/* General Contracting Section */

.general-contracting {
  flex: 1;
  position: relative;
  min-height: 500px;
  padding: 4rem 5%;
  max-height: 1200px;
}

.circle-img {
  clip-path: circle(40%);
}

.Contracting-section-001 {
  width: 500px;
  height: 400px;
  flex: 1;
  padding: 0 1.5%;
  transform: translateX(180%) translateY(5%);
}

.Contracting-section-001 h2 {
  color: #888;
  font-size: 3rem;
  text-align: center;
  transform: scale(1, 1.2);
  margin-bottom: 1.5rem;
}

.Contracting-section-001 p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.Contracting-button button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 2px solid #ffd700;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  transition: all 0.3s;
  margin-bottom: 1.5rem;
}

.Contracting-button button:hover {
  background: #daba02;
  color: black;
  cursor: pointer;
}

.Contracting-section-002 {
  width: 500px;
  height: 350px;
  flex: 1;
  transform: translateX(80%) translateY(-100%);
}

.Contracting-section-003 {
  width: 500px;
  height: auto;
  transform: translateY(-90%);
}

.Contracting-section-003 img {
  width: 500px;
  height: auto;
  transform: translateX(30%);
}

.Contracting-section-004 {
  width: 550px;
  height: auto;
  transform: translateY(-210%);
}

.Contracting-section-004 img {
  width: 550px;
  height: auto;
  transform: translateX(15%);
}

.Contracting-section-005 {
  width: 800px;
  height: auto;
  transform: translateY(-200%);
}

.Contracting-section-005 img {
  width: 800px;
  height: auto;
  transform: translateX(35%);
}

.circle-yellow {
  width: 250px;
  height: auto;
  transform: translateX(330%) translateY(-600%);
}

.circle-yellow img {
  width: 250px;
  height: auto;
}

.circle-ash {
  transform: translateY(-750%);
}

.circle-ash img {
  width: 200px;
  height: auto;
  transform: translateX(550%);
}

/* Future Together Section */

.future-together {
  background: #e8e8e8;
  padding: 5rem 5%;
  text-align: center;
}

.future-together h2 {
  color: #4e7da5;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 3rem;
  line-height: 4rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.checkmark {
  color: #4e7da5;
  font-family: system-ui, "Helvetica Neue", sans-serif;
  font-size: 5rem;
  line-height: 1;
  font-weight: 300;
}

.feature-content h3 {
  color: #333;
  font-size: 1.2rem;
  font-weight: 450;
  transform: scale(1, 1.2);
  letter-spacing: 0.1em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  padding-left: 0.5rem;
}

.feature-content p {
  color: #666;
  line-height: 1.6;
  font-size: 1.2rem;
}

/* About Us Section */

.about-us {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4rem 5%;
  color: white;
  background-color: #292d33;
  height: 800px;
}

.yellow-rect {
  width: 1200px;
  height: 200px;
  background-color: #ffd700;
  transform: translateY(90%);
  position: absolute;
  z-index: 0;
}

.content-area {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem 5rem;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

.section {
  width: 400px;
}

.left-section img {
  padding-bottom: 2.5rem;
}

.left-section h2 {
  font-size: 2rem;
  color: #ffd700;
  padding-bottom: 1rem;
  transform: scale(1, 1.2);
}

.section p {
  font-size: 1.1rem;
  padding-bottom: 1rem;
  line-height: 1.3;
}

.right-section h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #ffd700;
  padding-bottom: 1rem;
  transform: scale(1, 1.2);
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-us-button button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 2px solid #ffd700;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}

.about-us-button button:hover {
  background: #daba02;
  border: 2px solid #daba02;
  color: black;
  cursor: pointer;
}

/* Foundation Section */

.foundation-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 5%;
}

.foundation-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 700px;
}

.foundation-content-area h2 {
  color: #4e7da5;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  transform: scale(1, 1.2);
}

.foundation-content-area p {
  font-size: 1.1rem;
  padding-bottom: 2rem;
  line-height: 1.3;
}

.image-area {
  max-height: 800px;
  position: relative;
}

.circle-image {
  clip-path: circle(40%);
}

.foundation-img-01 {
  width: 350px;
  height: auto;
  transform: translateX(120%) translateY(5%);
}

.foundation-img-02 {
  width: 300px;
  height: auto;
  transform: translateX(200%) translateY(120%);
}

.foundation-img-03 {
  width: 200px;
  height: auto;
  transform: translateX(-200%) translateY(160%);
}

.foundation-img-04 {
  transform: translateX(50%) translateY(-40%);
}

.foundation-img-05 {
  width: 500px;
  height: auto;
  transform: translateX(-120%) translateY(-190%);
}

.foundation-img-06 {
  width: 250px;
  height: auto;
  transform: translateX(-130%) translateY(-150%);
}

/* Architecture Section */

.architecture-background-area {
  position: relative;
  z-index: 0;
}

.architecture-content-area {
  position: absolute;
  z-index: 1;
  padding: 5rem 15%;
}

.architecture-white-background {
  width: 100%;
  height: 650px;
  margin: 0;
  background-color: #e8e8e8;
}

.architecture-black-background {
  width: 100%;
  height: 650px;
  margin: 0;
  background-color: #292d33;
}

.ecological-architecture {
  display: flex;
}

.ecological-content {
  flex: 1;
  background-color: #ffd700;
  padding: 2rem 2%;
}

.ecological-content h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  transform: scale(1, 1.2);
}

.ecological-content p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.ecological-button button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 2px solid #292d33;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}

.ecological-button button:hover {
  background: #292d33;
  border: 2px solid #292d33;
  color: #e8e8e8;
  cursor: pointer;
}

.ecological-image {
  flex: 1;
}

.ecological-image img {
  width: 100%;
  height: 100%;
}

.architecture-quote {
  display: flex;
}

.architecture-quote-image-01 {
  flex: 1;
}

.architecture-quote-image-01 img {
  width: 100%;
  height: 100%;
}

.architecture-quote-content {
  flex: 1;
  background-color: #292d33;
  color: #e8e8e8;
  padding: 2rem 3%;
}

.architecture-quote-content p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.architecture-quote-content img {
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
}

.architecture-quote-image-02 {
  flex: 1;
}

.architecture-quote-image-02 img {
  width: 100%;
  height: 100%;
}

.interior-architecture {
  display: flex;
}

.interior-image {
  flex: 1;
}

.interior-image img {
  width: 100%;
  height: 100%;
}

.interior-content {
  flex: 1;
  background-color: white;
  padding: 2rem 3%;
}

.interior-content h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  transform: scale(1, 1.2);
}

.interior-content p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.interior-button button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 2px solid #292d33;
  background-color: #292d33;
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}

.interior-button button:hover {
  background: #ffd700;
  border: 2px solid #ffd700;
  color: #292d33;
  cursor: pointer;
}

/* Contact Us Section */

.contact-us-background-area {
  position: relative;
  z-index: 0;
}

.contact-us-black-background {
  width: 100%;
  height: 400px;
  margin: 0;
  background-color: #292d33;
}

.contact-us-yellow-background {
  width: 100%;
  height: 400px;
  margin: 0;
  background-color: #ffd700;
}

.contact-us-content-area {
  position: absolute;
  z-index: 1;
  padding: 5rem 15%;
  width: 100%;
}

.contact-us-box {
  display: flex;
  background-color: white;
  width: 100%;
}

.form-area {
  flex: 1;
  padding: 2rem 5%;
  width: 100%;
}

.contact-us-details-area {
  flex: 1;
  padding: 2rem 5%;
  width: 100%;
}

.form-area ::placeholder {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  width: 100%;
}

.form-area input[type="text"] {
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid black;
  width: 100%;
  height: 5rem;
}

.form-area textarea {
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid black;
  width: 100%;
  height: 10rem;
}

.form-submit button {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 2px solid #ffd700;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}

.form-submit button:hover {
  background: #5b8db8;
  border: 2px solid #5b8db8;
  color: white;
  cursor: pointer;
}

.contact-us-details-area p {
  color: #888;
  font-size: 1.2rem;
  font-weight: 450;
  transform: scale(1, 1.2);
  letter-spacing: 0.1em;
  padding-bottom: 1rem;
}

.contact-us-email-address {
  padding-bottom: 2rem;
}

.contact-us-email-address a {
  color: #5b8db8;
  font-size: 1.2rem;
  font-weight: 450;
  transform: scale(1, 1.2);
  letter-spacing: 0.1em;
}

.contact-us-details-area h1 {
  color: #4d4d4d;
  font-size: 2rem;
  font-weight: 800;
  transform: scale(1, 1.2);
  letter-spacing: 0.1em;
  padding-bottom: 1rem;
}

.social-media-icons {
  display: flex;
  margin-bottom: 1rem;
}

.social-media-icons a {
  padding-right: 10px;
}

.social-media-icons a img {
  width: 40px;
  height: 40px;
}
