@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1.5rem 15%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.logo {
  display: block;
  max-width: 100%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #333;
}

.page-one {
  display: flex;
  justify-content: space-between;
}
